h1{
    font-family:creepster;
    font-size: 25px;
    color: red;
}
.container{
    text-align: center;
}
.box-1{
    display: grid;
    grid-template:100px 200px 100px / 100px 100px;
    border: 1px solid :red;
    gap: 10px;
    justify-content: center;
    
}

.a{
grid-area: 1 / 1 / span 1/ span 2;
border: 1px solid black;
}

.b{
    grid-area: 2 / 1 / span 1 / span 1;
    border: 1px solid black;
}

.c{
    grid-area: 2 / 2 / span 1 / span 1; 
    border: 1px solid black;  
}

.d{
    grid-area: 3 / 1 / span 1 / span 2;
    border: 1px solid black;
}

